#contact_modal {
  display: none;
}

.photograph-header {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  border-radius: 5px;
}

/* photographer header*/

#theDiv {
  display: flex;
  justify-content: space-between;
}

.myDiv1 {
  margin-left: 2em;
  position: relative;
}

.myDiv2 {
  position: relative;
  margin-left: 612px;
}

.myDiv1 h2 {
  color: #d3573c;
  font-size: 40px;
  margin-bottom: -3px;
}

.myDiv1 h3 {
  color: #901c1c;
  margin-bottom: 35px;
}

.myDiv1 p {
  color: #525252;
}

.divDetails h2 {
  margin-top: 0.35em;
  margin-bottom: 0.5rem;
  padding-right: 0.5rem;
  overflow: hidden;
  color: #901c1c;
  text-align: left;
  text-overflow: ellipsis;
  font-weight: 400;
  white-space: nowrap;
  width: 9em;
}

.divDetails h3 {
  margin-top: 0.75em;
}

.divDetails button {
  margin-top: -0.25em;
}

.contact_button {
  margin-top: 3em;
  margin-left: 22em;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
}

/* Lightbox modal */

.lightbox {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in;
}

.lightbox.show {
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 1;
  visibility: visible;
  z-index: 1000;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 30px;
  margin-bottom: -1px;
}

form div {
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.newDiv {
  margin-top: auto;
  margin-bottom: auto;
}

.newDiv p{
  color: #901c1c;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

#myImg:focus {
  background-color: aliceblue;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #901c1c;
  background-color: inherit;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 43%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901c1c;
  background-color: inherit;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 90px;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 90px;
}

.modal-content {
  overflow: hidden;
  width: 500px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.modal-content .carousel-container {
  display: flex;
  transition: all 0.25s linear;
}

.modal-content img,
.modal-content video {
  width: 500px;
}
/*like Container*/

.likeContainer {
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 0;
  padding: 1.25rem 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1.5rem;
  background: #db8876;
}

.likeContainer #likeHeart {
  margin-right: 3rem;
  margin-top: 0.1em;
  margin-left: 0.15em;
}

.select {
  display: flex;
  padding-top: 2em;
  margin: 0 100px;
}

.select h3 {
  margin-right: 0.35em;
}
