@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Photographer Proper Page */
.photographer_info .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 104px;
    margin-top: 15px;
}

.divDetails {
  /*display: flex;*/
}

.photographer_section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 45px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    height: 2%;
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article p {
   margin-top: -13px;
}

.photographer_section article img {
    border-radius: 50%;
    height: 225px;
    width: 225px;
    object-fit: cover;
}

.photograph-header div img {
    height : 170px;
    width: 170px;
    border-radius: 50%;
    margin-top: 16px;
    object-fit: cover;
}

.photographer_info div img, .photographer_info div video  {
    height: 290px;
    width: 290px;
}

.photographer_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em 100px;
    margin: 75px 100px;
}

button{
  border: none;
  color: #ac1717;
  background-color: none;
}

.fas{
  background: none;
}

/*lightbox*/

